fastapi
uvicorn
pydantic
google-genai
chromadb
sentence-transformers
pypdf
reportlab
python-docx
pandas
numpy
seaborn
scikit-learn
statsmodels
openpyxl
python-dotenv
python-multipart
pdfplumber
rouge-score
bert-score
httpx
ydata-profiling
docker
pandasai
timecopilot
tf-keras
openai-whisper
soundfile
torch>=2.6.0
